.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
  font-size: 20px;
}
.header .header__header-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .header__title {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 10%;
}
.header .header__icon {
  display: flex;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 20px;
}
.header .header__img {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  overflow: hidden;
}
