.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
}
.header .header__title {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 20%;
}
